
* {
    box-sizing: border-box;
}
html, body {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
main {
    display: flex;
    height: auto;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.msg {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;

    background: rgba(0,0,0,0.75);
    border-radius: 2em 0 0 2em;
    border: 1px solid transparent;
    border-right: none;
    box-sizing: border-box;
    margin: 0.2em 0;
    padding: 0.5em;

    font-family: "Open Sans";
    font-size: 16px;
    line-height: 16px;
    color: #ccc;
}
    .msg--b-owner {
        border-color: gold;
    }
    .msg--b-staff {
        border-color: red;
    }

.msg-user {
    font-size: 90%;
    vertical-align: bottom;
    font-weight: bold;
}
    .msg--b-sub .msg-user {
        color: green;
    }
    .msg--b-mod .msg-user {
        color: blue;
    }
    .msg--b-verified .msg-user {
        color: purple;
    }
    .msg--b-staff .msg-user {
        color: red;
    }
    .msg--b-owner .msg-user {
        color: gold;
    }


.msg-avatar {
    height: 2em;
    width: 2em;
    border-radius: 100%;
    margin-right: 0.5em;
    border: 2px solid transparent;
    box-sizing:  border-box;
    background: var(--brand-color);
    border-color: var(--brand-color);
}
    .msg--p-Kick .msg-avatar {
        --brand-color: transparent;
        border-radius: 0;
    }
    .msg--p-Odysee .msg-avatar {
        --brand-color: rgb(166, 10, 67, 1);
    }
    .msg--p-Rumble .msg-avatar {
        --brand-color: rgba(133, 199, 66, 1);
    }
    .msg--p-YouTube .msg-avatar {
        --brand-color: rgba(255, 0, 0, 1);
    }
    .msg--p-VK .msg-avatar {
        --brand-color: rgb(255, 43, 66, 1);
        /* drop shadow mimics the VK logo a bit. */
        box-shadow: 2px 0px rgb(0, 119, 255, 0.66);
    }

.msg-text {
    word-wrap: break-word;
}
    .msg-text img {
        max-height: 1em;
        vertical-align: top;
    }
    .msg-text a {
        color: #ccc;
        font-weight: normal;
        text-decoration: none;
    }

/*
.msg::before {
    display: inline-block;
    content: ' ';
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: -0.5em;
    right: 0;
    transform: rotate(20deg);
    opacity: 0.15;
}
    .msg--p-Rumble::before {
        background-image: url(/logo/rumble.svg);
    }
    .msg--p-YouTube::before {
        background-image: url(/logo/youtube.svg);
    }
    */