* {
    box-sizing: border-box;
}

html,
body {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

/**
 * Live Viewers
 */
section#live {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

.live-badge {
    display: block;
    float: left;
    background-color: rgba(0, 0, 0, 0.66);
    color: #fff;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0.2em 0.5em;
    margin: 1px;
    margin-right: 0.3em;
    opacity: 0.75;
    line-height: 1.2em;
    height: 1.8em;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.live-badge#live-icon {
    background-color: rgba(255, 0, 0, 0.66);
}

/**
 * Attribution
 */
section#attribution {
    position: absolute;
    bottom: 7px;
    left: 15px;
    font-size: 60px;
    font-family: 'Verlag Black', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-stroke: 2px #000;
}

/**
 * Chat Messages
 */
section#chat {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

#chat-messages {
    display: flex;
    height: auto;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.msg {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 1;

    background: var(--message-bg-color, rgba(0, 0, 0, 0.75));
    border-radius: 2em 0 0 2em;
    border: 1px solid transparent;
    border-right: none;
    box-sizing: border-box;
    margin: 0.2rem 0;
    padding: 0.5rem;

    max-height: 10rem;
    overflow: hidden;

    font-family: "Open Sans";
    font-size: 16px;
    line-height: 18px;
    color: var(--message-text-color, #ccc);
}

.msg.msg--t {
    flex-wrap: wrap;
    padding: 0;
    max-height: none;
}

.msg--b-owner {
    border-color: gold;
}

.msg--b-staff {
    border-color: red;
}

.msg-header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    padding: 0.5rem;
    background: var(--message-head-color, transparent);
}

.msg-user,
.msg-username,
.msg-badges,
.msg-badges>span {
    font-size: 1rem;
    line-height: 1.2rem;
    vertical-align: top;
}

.msg-user {
    font-size: 90%;
    font-weight: bold;
    margin-top: -4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg--b-sub .msg-user {
    color: rgb(47, 141, 21);
}

.msg--b-mod .msg-user {
    color: rgb(25, 124, 237);
}

.msg--b-verified .msg-user {
    color: rgb(168, 13, 168);
}

.msg--b-staff .msg-user {
    color: rgb(255, 52, 52);
}

.msg--b-owner .msg-user {
    color: rgb(255, 215, 0);
}


.msg-avatar-border {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5em;
    overflow: hidden;
    flex-shrink: 0;

    border: 2px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    background: white;
    border-color: var(--brand-color);
}

.msg--p-Kick .msg-avatar-border {
    --brand-color: var(--kick-brand, rgba(133, 199, 66, 1));
    background: none;
    border-color: transparent;
}

.msg--p-Kick .msg-avatar {
    opacity: 0.66;
}

.msg--p-Kick .msg-letter {
    color: var(--brand-color);
    font-family: 'VT323', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
}

.msg--p-Odysee .msg-avatar-border {
    --brand-color: var(--odysee-brand, rgb(166, 10, 67, 1));
    background: linear-gradient(45deg, #ef1970 0%, #f23b5c 14%, #f77d35 45%, #fcad18 70%, #fecb07 89%, #ffd600 100%);
    border: none;
}

.msg--p-Odysee .msg-avatar {
    border: 2px solid transparent;
    border-radius: 100%;
    margin: 0;
}

.msg--p-Odysee .msg-letter {
    /* Doubled up gradients are really ugly and Odysee provides a default avatar. */
    display: none;
}

.msg--p-Rumble .msg-avatar-border {
    --brand-color: var(--rumble-brand, rgba(133, 199, 66, 1));
}

.msg--p-YouTube .msg-avatar-border {
    --brand-color: var(--youtube-brand, rgba(255, 0, 0, 1));
}

.msg--p-VK .msg-avatar-border {
    --brand-color: var(--vk-brand, rgb(255, 43, 66, 1));
}

.msg--p-VK .msg-avatar-border {
    /* drop shadow mimics the VK logo a bit. */
    box-shadow: 2px 0px var(--vk--brand-shadow, rgb(0, 119, 255, 0.66));
}

.msg--p-X .msg-user::before {
    content: '@';
}

.msg--t {
    --message-bg-color: #1565C0;
    --message-head-color: #1565C0;
    --message-text-color: #FFFFFF;
}

.msg--ta-2 {
    --message-bg-color: #00E5FF;
    --message-head-color: #00B8D4;
    --message-text-color: #000000;
}

.msg--ta-5 {
    --message-bg-color: #0F9D58;
    --message-head-color: #0A8043;
    --message-text-color: #000000;
}

.msg--ta-10 {
    --message-bg-color: #FFCA28;
    --message-head-color: #FFB300;
    --message-text-color: #000000;
}

.msg--ta-20 {
    --message-bg-color: #F57C00;
    --message-head-color: #E65100;
    --message-text-color: #FFFFFF;
}

.msg--ta-50 {
    --message-bg-color: #E91E63;
    --message-head-color: #C2185B;
    --message-text-color: #FFFFFF;
}

.msg--ta-100 {
    --message-bg-color: #E62117;
    --message-head-color: #D00000;
    --message-text-color: #FFFFFF;
}

.msg--sticky {
    position: sticky;
    /* top: 0; */
    transition: top 1s ease 0s;
    z-index: 20;
}

.msg-letter {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: text-top;
    line-height: 2rem;
    font-weight: bold;
    color: var(--brand-color);
    margin: -2px 0 0 -2px;
}

.msg-avatar {
    height: 2rem;
    width: 2rem;
    margin: -2px 0 0 -2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.msg-container {
    max-width: 100%;
    height: auto;
    overflow: visible;
}

.msg-text {
    word-wrap: break-word;
    vertical-align: bottom;

    overflow: visible;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.2em;
    vertical-align: text-top;
}

.msg-text:empty {
    display: none;
}

.msg--t .msg-text {
    width: 100%;
    padding: 1rem;
    padding-top: 0.5rem;
}

/**
 * Additional Message Definitions
 * To deal with junk that appears inside chat messages.
 */
.msg-text img {
    max-height: 2em;
    max-width: 2em;
    height: auto;
    width: auto;
    vertical-align: middle;
    margin-top: 0.1em;
}

.msg-text a {
    color: var(--msg-url, #ccc);
    font-weight: normal;
    text-decoration: none;
}

.msg-text p {
    margin: 0;
}

#flyout {
    position: absolute;
    z-index: 100;
    width: 100%;
    font-family: "Open Sans";
}

#superchat-ui {
    transition: all .2s ease-in-out;
    width: 100%;
    top: 0px;
}

#superchat-ui.slide-down {
    animation: slide-down 0.5s ease-in-out forwards;
}

#superchat-ui.slide-up {
    animation: slide-down 0.5s ease-in-out forwards;

}

.superchat {
    width: 100%;
    border-radius: 0.8em 0 0 0.8em;
    background: var(--superchat-bg, rgba(92, 42, 42, 0.95));
    animation-duration: 0.5s;
    animation-name: slide-in;
    margin-top: 0.5em;
    overflow: hidden;
}

.superchat-message {
    padding: 0.1em 0.1em 0.3em 0.5em;
}

.superchat-message>p {
    margin: 0;
}

.superchat-timeout-bar {
    height: 0.1em;
    width: 100%;
    background: var(--superchat-timeout-bar-bg, rgba(245, 160, 160, 0.986));
    float: right;
    right: 0;
}

#poll-ui,
.superchat {
    color: var(--msg-url, #ccc);
    width: 100%;

    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

#poll-ui {
    background: var(--msg-bg, rgba(11, 11, 11, 0.95));
    display: none;
    padding: 0.5em 0.8em 1em 0.8em;
    border-radius: 0 0 0.8em 0.8em;
}

#poll-ui.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

#poll-ui.fade-out {
    animation: fade-out 0.5s ease-in-out forwards;

}

@keyframes slide-down {
    from {
        position: absolute;
    }

    to {
        position: relative;
    }
}

@keyframes slide-in {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fade-in {
    from {
        display: block;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

#poll-ui ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}

#poll-ui li+li {
    margin-top: 0.5em;
}


/*
.msg::before {
    display: inline-block;
    content: ' ';
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: -0.5em;
    right: 0;
    transform: rotate(20deg);
    opacity: 0.15;
}
    .msg--p-Rumble::before {
        background-image: url(/logo/rumble.svg);
    }
    .msg--p-YouTube::before {
        background-image: url(/logo/youtube.svg);
    }
    */