<!DOCTYPE html>
<html>

<head>
    <title>S.N.E.E.D. Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://use.fontawesome.com" />
    <link href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet" />
</head>

<body class="theme-dark">

    <div class="grid-container">
        <div id="donation-column" class="dashboard-column">
            <div class="dashboard-column-header">
                Superchats
            </div>
            <div id="donation-history">
                {% for sc in super_chats %}
                {% let h = sc.to_html() %}
                {{ h|safe }}
                {% endfor %}
            </div>
        </div>

        <div id="poll-column" class="dashboard-column">
            <div class="dashboard-column-header">
                Polls
            </div>
            <div id="poll-controls">
                <textarea id="pollquestion" placeholder="Poll Question"></textarea>
                <div id="poll-buttons">
                    <input type="checkbox" id="multiplechoice" />
                    <label for="multiplechoice">Allow multiple choice</label>
                    <button onclick="on_poll_create()">Create Poll</button>
                    <button onclick="on_poll_end()">End Poll</button>
                </div>

                <div id="poll-options">
                    <input type="text" onkeydown="on_poll_option_type(event)" onblur="on_poll_option_change(event)"
                        class="poll-option" placeholder="Poll option" />
                    <input type="text" onkeydown="on_poll_option_type(event)" onblur="on_poll_option_change(event)"
                        class="poll-option" placeholder="Poll option" />
                </div>

            </div>

        </div>
    </div>
    <script type="text/javascript" src="/dashboard.js"></script>
</body>

</html>