<!DOCTYPE html>
<html>

<head>
    <title>S.N.E.E.D. Chat Overlay</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/user-colors.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&display=swap" />
</head>

<body>

    <main></main>
    <div id="flyout">
        <div id="poll-ui">
        </div>
        <div id="superchat-ui">
        </div>
    </div>
    <script type="text/javascript" src="/script.js"></script>
</body>

</html>