<div id="{{ message.id }}"
    class="msg {{ message.get_platform_string() }} {{ message.get_badge_string() }} {{ message.get_paid_string() }}"
    style="order: {{ message.sent_at / 1000 }}" data-paid-tier="{{ message.get_paid_tier() }}">
    {% if message.is_premium() ~%}
    <div class="msg-header">
        <div class="msg-avatar-border">
            <span class="msg-letter">{{ message.get_letter() }}</span>
            <img class="msg-avatar" src="{{ message.avatar }}" />
        </div>
        <div class="msg-container">
            <div class="msg-user">
                <span class="msg-username">{{ message.username|safe }}</span>
                <span class="msg-badges">
                    {% if message.is_verified %}
                    <span class="material-symbols-outlined">verified</span>
                    {% endif %}
                </span>
            </div>
            <div class="msg-amount">{{ message.get_paid_readable_amount() }}</div>
        </div>
    </div>
    <div class="msg-text">{{ message.message|safe }}</div>
    {%~ else ~%}
    <div class="msg-avatar-border">
        <span class="msg-letter">{{ message.get_letter() }}</span>
        <img class="msg-avatar" src="{{ message.avatar }}" />
    </div>
    <div class="msg-container">
        <div class="msg-user">
            <span class="msg-username">{{ message.username|safe }}</span>
            <span class="msg-badges">
                {% if message.is_verified %}
                <span class="material-symbols-outlined">verified</span>
                {% endif %}
            </span>
        </div>
        <div class="msg-text">{{ message.message|safe }}</div>
    </div>
    {%~ endif %}
</div>