<!DOCTYPE html>
<html>

<head>
    <title>S.N.E.E.D. Chat Overlay</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/user-colors.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section id="live">
        <span id="live-icon" class="live-badge">LIVE</span>
        <span id="live-totals" class="live-badge">0</span>
    </section>
    <section id="attribution">
        <span id="name">Mad at the Internet</span>
        · <span id="url">mati.live</span>
        · <span id="date">January 1st, 1970</span>
    </section>
    <section id="viewers"></section>
    <section id="chat">
        <div id="chat-messages"></div>
        <div id="flyout">
            <div id="poll-ui"></div>
            <div id="superchat-ui"></div>
        </div>
    </section>

    <script type="text/javascript" src="/script.js"></script>
</body>

</html>